* {
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    font-family: 'Cyberverse';
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

@font-face {
    font-family: 'Cyberverse';
    src: url('Cyberverse.otf');
    }

@media(min-width: 780px) {
    body{
        font-size: 10rem;
    }
}